<section class="py-5">
    <div class="container"> 
        <p class="title-text pb-3">LPMB</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
              <tr class="table-secondary">
                <th>No</th>
                <th>Nama</th>
                <th>Tempat Tgl lahir</th>
                <th>Jabatan</th>
                <th>Alamat</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Uyen Yohana</td>
                <td>Bandung, 03-05-1976</td>
                <td>Ketua</td>
                <td>Kp Bojong RT 01/02</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wawan Setiawan</td>
                <td>Garut, 19-09-1971</td>
                <td>Sekretaris</td>
                <td>Kp Bojong RT 01/05</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ai Nurhayati</td>
                <td>Bandung, 23-09-1979</td>
                <td>Bendahara</td>
                <td>Kp Ciwaru RT 01/06</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Nanang Permana</td>
                <td>Bandung, 19-11-1991</td>
                <td>Anggota</td>
                <td>Kp Bojong RT 03/10</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Eman S</td>
                <td>Bandung, 23-06-1985</td>
                <td>Anggota</td>
                <td>Kp Bojong RT 02/01</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Asep Sulaeman</td>
                <td>Bandung,</td>
                <td>Anggota</td>
                <td>Kp Ciwaru RT 03/11</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Dede Ruhiat</td>
                <td>Bandung, 06-11-1981</td>
                <td>Anggota</td>
                <td>Kp Ciwaru RT 02/07</td>
            </tr>
            <tr>
                <td>8</td>
                <td>H Ka'I Komarudin</td>
                <td>Bandung, 04-05-1952</td>
                <td>Anggota</td>
                <td>Kp Ciwaru RT 04/08</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>