<section>
    <div class="container"> 
        <p class="title-text pb-3">Lembaga PKK Desa</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
              <tr class="table-secondary">
                <th>No</th>
                <th>Nama</th>
                <th>Jabatan</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>YANI MULYANI</td>
                    <td>KETUA</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>NENG SITI FATIMAH</td>
                    <td>SEKRETARIS</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>TARSIH TARLISNA</td>
                    <td>BENDAHARA</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>ELAH HAYATI</td>
                    <td>POKJA 1</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>WIWI CARWIYAH</td>
                    <td>ANGGOTA</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>NANI YUNENGSIH</td>
                    <td>ANGGOTA</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>AI ISNI</td>
                    <td>POKJA 2</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>SITI KARMINAH</td>
                    <td>ANGGOTA</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>IYUM YUNIATI</td>
                    <td>ANGGOTA</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>EMA SUHERMAWATI</td>
                    <td>POKJA 3</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>POPON RUKMINI</td>
                    <td>ANGGOTA</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>IMAS ROSITA</td>
                    <td>ANGGOTA</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>ELIS</td>
                    <td>POKJA 4</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>CICAH TARMILAH</td>
                    <td>ANGGOTA</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>ENUNG ROHAYATI</td>
                    <td>ANGGOTA</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>