<section class="pt-5">
    <div class="container"> 
        <p class="title-text pb-3">Pokja Posyandu</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
              <tr class="table-secondary">
            <th>No</th>
            <th>Nama Pengurus</th>
            <th>Jabatan</th>
            <th>Alamat</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>CACA SUTISNA</td>
                <td>Penanggung Jawab</td>
                <td>Desa Bojongmekar</td>
            </tr>
            <tr>
                <td>2</td>
                <td>RAHMAT KURNIAWAN</td>
                <td>Ketua</td>
                <td>Desa Bojongmekar</td>
            </tr>
            <tr>
            <td>3</td>
            <td>NENG SITI FATIMAH</td>
            <td>Sekretaris</td>
            <td>Desa Bojongmekar</td>
            </tr>
            <tr>
            <td>4</td>
            <td>YOGI KOMARULOH</td>
            <td>Bendahara</td>
            <td>Desa Bojongmekar</td>
            </tr>
            <tr>
            <td>5</td>
            <td>SUCI GESHANI</td>
            <td>Anggota</td>
            <td>Desa Bojongmekar</td>
            </tr>
            <tr>
            <td>6</td>
            <td>SAMSI NURSYAMSI</td>
            <td>Anggota</td>
            <td>Desa Bojongmekar</td>
            </tr>
            <tr>
            <td>7</td>
            <td>SURYANI</td>
            <td>Anggota</td>
            <td>Desa Bojongmekar</td>
            </tr>
            <tr>
            <td>8</td>
            <td>AJI ROMANSYAH</td>
            <td>Anggota</td>
            <td>Desa Bojongmekar</td>
            </tr>
            <tr>
            <td>9</td>
            <td>NURAENI SUMARNI</td>
            <td>Anggota</td>
            <td>Desa Bojongmekar</td>
            </tr>
            <tr>
            <td>10</td>
            <td>HERMIN SYAHIDAH</td>
            <td>Anggota</td>
            <td>Desa Bojongmekar</td>
            </tr>
            <tr>
            <td>11</td>
            <td>RONI SETIAWAN</td>
            <td>Anggota</td>
            <td>Desa Bojongmekar</td>
            </tr>
        </tbody>
        </table>
    </div>
</section>