<section class="pt-5">
    <div class="container"> 
        <p class="title-text pb-3">RT dan RW</p>
        <table class="table table-bordered table-hover">
            <thead class="align-middle text-center">
              <tr class="table-secondary">
                <th>No</th>
                <th>Nama</th>
                <th>Tempat Lahir</th>
                <th>Tanggal Lahir (DD-MM-YYYY)</th>
                <th>No HP</th>
                <th>Jabatan (RT/RW)</th>
                <th>Rincian Jabatan</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>WAWAN SUGANDI</td>
                <td>BANDUNG</td>
                <td>08/08/1985</td>
                <td>83836911085</td>
                <td>RW</td>
                <td>RW 01</td>
              </tr>
              <tr>
                <td>2</td>
                <td>SUWANTO</td>
                <td>BANDUNG</td>
                <td>05/10/1967</td>
                <td>87820956235</td>
                <td>RT</td>
                <td>RT 01</td>
              </tr>
              <tr>
                <td>3</td>
                <td>DADANG</td>
                <td>SUMEDANG</td>
                <td>01/12/1978</td>
                <td>81373302141</td>
                <td>RT</td>
                <td>RT 02</td>
              </tr>
              <tr>
                <td>4</td>
                <td>KOMAR</td>
                <td>BANDUNG</td>
                <td>18/09/1964</td>
                <td>8179203722</td>
                <td>RT</td>
                <td>RT 03</td>
              </tr>
              <tr>
                <td>5</td>
                <td>OPA MUSTOPA</td>
                <td>BANDUNG</td>
                <td>11/07/1980</td>
                <td>817430966</td>
                <td>RW</td>
                <td>RW 02</td>
              </tr>
              <tr>
                <td>6</td>
                <td>LILIS</td>
                <td>BANDUNG</td>
                <td>03/02/1966</td>
                <td>85792918507</td>
                <td>RT</td>
                <td>RT 01</td>
              </tr>
              <tr>
                <td>7</td>
                <td>DADAY MAHDAR</td>
                <td>BANDUNG</td>
                <td>27/07/1961</td>
                <td>83829794821</td>
                <td>RT</td>
                <td>RT 02</td>
              </tr>
              <tr>
                <td>8</td>
                <td>EDEN SUPRIYADI</td>
                <td>BANDUNG</td>
                <td>24/03/1974</td>
                <td>83822230347</td>
                <td>RW</td>
                <td>RW 03</td>
              </tr>
              <tr>
                <td>9</td>
                <td>IIN ROHANA</td>
                <td>BANDUNG</td>
                <td>06/04/1965</td>
                <td>83821317033</td>
                <td>RT</td>
                <td>RT 01</td>
              </tr>
              <tr>
                <td>10</td>
                <td>ASEP SAEPUDIN</td>
                <td>BANDUNG</td>
                <td>16/09/1976</td>
                <td>82321123932</td>
                <td>RT</td>
                <td>RT 02</td>
              </tr>
              <tr>
                <td>11</td>
                <td>HENDRA</td>
                <td>BANDUNG</td>
                <td>01/01/1960</td>
                <td>83829430690</td>
                <td>RT</td>
                <td>RT 03</td>
              </tr>
              <tr>
                <td>12</td>
                <td>ASEP HERIYANTO</td>
                <td>BANDUNG</td>
                <td>31/08/1983</td>
                <td>83174879621</td>
                <td>RW</td>
                <td>RW 04</td>
                
              </tr>
              <tr>
                <td>13</td>
                <td>IWAN</td>
                <td>BANDUNG</td>
                <td>18/01/1984</td>
                <td>83822706667</td>
                <td>RT</td>
                <td>RT 01</td>
                
              </tr>
              <tr>
                <td>14</td>
                <td>OKIM SUPRATMAN</td>
                <td>BANDUNG</td>
                <td>07/01/1970</td>
                <td>83869393626</td>
                <td>RT</td>
                <td>RT 02</td>
                
              </tr>
              <tr>
                <td>15</td>
                <td>HENI</td>
                <td>BANDUNG</td>
                <td>08/01/1981</td>
                <td>81991060317</td>
                <td>RT</td>
                <td>RT 03</td>
                
              </tr>
              <tr>
                <td>16</td>
                <td>ADE A</td>
                <td>BANDUNG</td>
                <td>15/11/1963</td>
                <td>83822512745</td>
                <td>RW</td>
                <td>RW 05</td>
                
              </tr>
              <tr>
                <td>17</td>
                <td>ECEP</td>
                <td>BANDUNG</td>
                <td>11/06/1966</td>
                <td>83148917153</td>
                <td>RT</td>
                <td>RT 01</td>
                
              </tr>
              <tr>
                <td>18</td>
                <td>MARYONO</td>
                <td>KLATEN</td>
                <td>06/06/1980</td>
                <td>85316363666</td>
                <td>RT</td>
                <td>RT 02</td>
                
              </tr>
              <tr>
                <td>19</td>
                <td>ADANG HIDAYAT</td>
                <td>BANDUNG</td>
                <td>03/06/1950</td>
                <td>83836992030</td>
                <td>RT</td>
                <td>RT 03</td>
                
              </tr>
              <tr>
                <td>20</td>
                <td>ASEP KOMARUDIN</td>
                <td>BANDUNG</td>
                <td>10/04/1977</td>
                <td>87722766550</td>
                <td>RW</td>
                <td>RW 06</td>
                
              </tr>
              <tr>
                <td>21</td>
                <td>YAYAH KODARIYAH</td>
                <td>BANDUNG</td>
                <td>01/06/1970</td>
                <td>83821408774</td>
                <td>RT</td>
                <td>RT 01</td>
                
              </tr>
              <tr>
                <td>22</td>
                <td>ELAN</td>
                <td>BANDUNG</td>
                <td>05/06/1977</td>
                <td>83829888156</td>
                <td>RT</td>
                <td>RT 02</td>
                
              </tr>
              <tr>
                <td>23</td>
                <td>AMAD</td>
                <td>BANDUNG</td>
                <td>05/08/1970</td>
                <td>87821754448</td>
                <td>RT</td>
                <td>RT 03</td>
                
              </tr>
              <tr>
                <td>24</td>
                <td>DEDE RUHIAT</td>
                <td>BANDUNG</td>
                <td>16/11/1981</td>
                <td>83840248230</td>
                <td>RW</td>
                <td>RW 07</td>
                
              </tr>
              <tr>
                <td>25</td>
                <td>UJANG SUNANDAR</td>
                <td>BANDUNG</td>
                <td>05/10/1975</td>
                <td>83821111855</td>
                <td>RT</td>
                <td>RT 01</td>
                
              </tr>
              <tr>
                <td>26</td>
                <td>DEDEN HAMDANI</td>
                <td>BANDUNG</td>
                <td>14/06/1981</td>
                <td>83821888141</td>
                <td>RT</td>
                <td>RT 02</td>
                
              </tr>
              <tr>
                <td>27</td>
                <td>ZAENUDIN</td>
                <td>BANDUNG</td>
                <td>17/09/1975</td>
                <td>83829095740</td>
                <td>RT</td>
                <td>RT 03</td>
                
              </tr>
              <tr>
                <td>28</td>
                <td>SASMITA</td>
                <td>BANDUNG</td>
                <td>20/04/1960</td>
                <td>83174879617</td>
                <td>RW</td>
                <td>RW 08</td>
                
              </tr>
              <tr>
                <td>29</td>
                <td>WADI</td>
                <td>BANDUNG</td>
                <td>15/07/1963</td>
                <td>81809350440</td>
                <td>RT</td>
                <td>RT 01</td>
                
              </tr>
              <tr>
                <td>30</td>
                <td>ISAK SUTISNA</td>
                <td>BANDUNG</td>
                <td>12/07/1967</td>
                <td>83145273846</td>
                <td>RT</td>
                <td>RT 02</td>
                
              </tr>
              <tr>
                <td>31</td>
                <td>DADANG SUKIMAN</td>
                <td>BANDUNG</td>
                <td>26/11/1974</td>
                <td>83820147248</td>
                <td>RT</td>
                <td>RT 03</td>
                
              </tr>
              <tr>
                <td>32</td>
                <td>DEAN MUHAMMAD IRFAN</td>
                <td>BANDUNG</td>
                <td>22/12/1991</td>
                <td>83822925569</td>
                <td>RT</td>
                <td>RT 04</td>
                
              </tr>
              <tr>
                <td>33</td>
                <td>OJI SANUSI</td>
                <td>BANDUNG</td>
                <td>17/07/1955</td>
                <td>83120277175</td>
                <td>RW</td>
                <td>RW 09</td>
                
              </tr>
              <tr>
                <td>34</td>
                <td>ADE IRMA SURYANI</td>
                <td>BANDUNG</td>
                <td>16/08/1985</td>
                <td>83866333394</td>
                <td>RT</td>
                <td>RT 01</td>
                
              </tr>
              <tr>
                <td>35</td>
                <td>IMAS ROSITA</td>
                <td>BANDUNG</td>
                <td>03/05/1971</td>
                <td>83820638649</td>
                <td>RT</td>
                <td>RT 02</td>
                
              </tr>
              <tr>
                <td>36</td>
                <td>ASEP. SAHRUDIN</td>
                <td>BANDUNG</td>
                <td>02/10/1968</td>
                <td>83822720107</td>
                <td>RT</td>
                <td>RT 03</td>
                
              </tr>
              <tr>
                <td>37</td>
                <td>AANG SUTISNA</td>
                <td>BANDUNG</td>
                <td>03/01/1973</td>
                <td>83174842323</td>
                <td>RT</td>
                <td>RT 04</td>
                
              </tr>
              <tr>
                <td>38</td>
                <td>ASEP SUKARYA</td>
                <td>BANDUNG</td>
                <td>17/09/1985</td>
                <td>83157285408</td>
                <td>RW</td>
                <td>RW 10</td>
                
              </tr>
              <tr>
                <td>39</td>
                <td>OLEH</td>
                <td>BANDUNG</td>
                <td>07/06/1973</td>
                <td>83106880033</td>
                <td>RT</td>
                <td>RT 01</td>
                
              </tr>
              <tr>
                <td>40</td>
                <td>TARWAN</td>
                <td>BANDUNG</td>
                <td>01/01/1969</td>
                <td>83820425995</td>
                <td>RT</td>
                <td>RT 02</td>
                
              </tr>
              <tr>
                <td>41</td>
                <td>ATEP SUHELI</td>
                <td>BANDUNG</td>
                <td>13/08/1975</td>
                <td>83821443306</td>
                <td>RT</td>
                <td>RT 03</td>
                
              </tr>
              <tr>
                <td>42</td>
                <td>U SAEPUDIN</td>
                <td>BANDUNG</td>
                <td>09/05/1975</td>
                <td>81809721230</td>
                <td>RW</td>
                <td>RW 11</td>
                
              </tr>
              <tr>
                <td>43</td>
                <td>WAWAN SUTIAWAN</td>
                <td>BANDUNG</td>
                <td>23/03/1981</td>
                <td>83108237069</td>
                <td>RT</td>
                <td>RT 01</td>
                
              </tr>
              <tr>
                <td>44</td>
                <td>DADANG</td>
                <td>BANDUNG</td>
                <td>15/06/1967</td>
                <td>83869391180</td>
                <td>RT</td>
                <td>RT 02</td>
                
              </tr>
              <tr>
                <td>45</td>
                <td>TEDI KOMARUDIN</td>
                <td>BANDUNG</td>
                <td>08/10/1981</td>
                <td>83120096684</td>
                <td>RT</td>
                <td>RT 03</td>
                
              </tr>
              <tr>
                <td>46</td>
                <td>ASEP SAEPULOH</td>
                <td>BANDUNG</td>
                <td>10/04/1976</td>
                <td>82320118301</td>
                <td>RW</td>
                <td>RW 12</td>
                
              </tr>
              <tr>
                <td>47</td>
                <td>WAWAN SOPANDI</td>
                <td>BANDUNG</td>
                <td>01/08/1981</td>
                <td>83109578145</td>
                <td>RT</td>
                <td>RT 01</td>
                
              </tr>
              <tr>
                <td>48</td>
                <td>MUNAWAR</td>
                <td>BANDUNG</td>
                <td>07/08/1976</td>
                <td>83876205085</td>
                <td>RT</td>
                <td>RT 02</td>
                
              </tr>
              <tr>
                <td>49</td>
                <td>ASEP SUHAELI</td>
                <td>BANDUNG</td>
                <td>14/03/1972</td>
                <td>83130541309</td>
                <td>RT</td>
                <td>RT 03</td>
                
              </tr>
            </tbody>
            </table>
    </div>
</section>