{% extends 'base.html' %}
{% load static %}
 
{% block content %}
<head>
  <title>Bojongmekar</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg p-3 shadow fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Bojongmekar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item font-bold">
            <a class="nav-link mx-2 active" aria-current="page" href="/">Beranda</a>
          </li>
          <li class="nav-item dropdown font-bold">
            <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profil Desa
            </a>
            <ul class="dropdown-menu font-bold" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/profil/sejarah/">Tentang Desa</a></li>
              <li><a class="dropdown-item" href="/profil/wilayah/">Wilayah Desa</a></li>
              <li><a class="dropdown-item" href="/profil/masyarakat/">Masyarakat Desa</a></li>
              <li><a class="dropdown-item" href="/profil/potensi/">Potensi Desa</a></li>
            </ul>
          </li>
          <li class="nav-item font-bold">
            <a class="nav-link mx-2" href="/berita/">Berita</a>
          </li>
          <li class="nav-item font-bold">
            <a class="nav-link mx-2" href="/artikel/">Artikel</a>
          </li>
          <li class="nav-item font-bold">
            <a class="nav-link mx-2" href="/umkm/">UMKM</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="header-title">Bojongmekar</h1>
            <p class="header-caption">Desa Bojongmekar is a charming village located in West Java, Indonesia, known for its picturesque landscapes and warm hospitality.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Berita Terbaru -->
  <section class="pt-5">
    <div class="container"> 
      <p class="title-text pb-4">Berita Terbaru</p>
        {% if news_list %}
          <div class="row row-cols-2 row-cols-md-3">
            {% for news in news_list reversed %}
              {% if forloop.counter != 4 %}
                <div class="col pb-4">
                  <div class="card">
                    <img class="card-img" src="{{ news.photo_link }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ news.title }}</h5>
                      <p class="card-text">{{ news.content }}</p>
                      <a href="berita/konten/{{ news.id }}/" class="stretched-link"></a>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% else %}
          <div class="text-center">
              <p class="fs-5 text-secondary">Belum ada artikel.</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <!-- Artikel Terbaru -->
  <section class="pt-5">
    <div class="container"> 
      <p class="title-text pb-4">Artikel Terbaru</p>
        {% if article_list %}
          <div class="row row-cols-2 row-cols-md-3">
            {% for article in article_list reversed %}
              {% if forloop.counter != 4 %}
                <div class="col pb-4">
                  <div class="card">
                    <img class="card-img" src="{{ article.photo_link }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ article.title }}</h5>
                      <p class="card-text">{{ article.content }}</p>
                      <a href="artikel/konten/{{ article.id }}/" class="stretched-link"></a>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% else %}
          <div class="text-center">
              <p class="fs-5 text-secondary">Belum ada artikel.</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <!-- Form Feedback -->
  <section class="">
    <div class="container py-4">
      <p class="title-text pb-4">Feedback</p>
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Nama</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Pesan</label>
          <textarea type="text" class="form-control" id="message" name="message" style="height: 10rem;"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Tambah</button>
      </form>
    </div>
  </section>
</body>

{% endblock content %}